.DS_Store
*.xcuserstate
/Cocktails 4.0/Cocktails 4.0.xcodeproj/project.xcworkspace/xcuserdata
Cocktails 4.0/Cocktails 4.0.xcodeproj/xcshareddata/xcschemes/Cocktails 4.0.xcscheme
Cocktails 4.0/Cocktails 4.0.xcodeproj/xcshareddata/xcschemes/Cocktails 4.0.xcscheme
Cocktails 4.0/Cocktails 4.0/.DS_Store
Cocktails 4.0/Cocktails 4.0.xcodeproj/project.xcworkspace/xcuserdata/daniel.xcuserdatad/UserInterfaceState.xcuserstate
/Cocktails 4.0/Cocktails 4.0.xcodeproj/project.xcworkspace/xcuserdata
*.pbxproj
